<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Melanie</title>
</head>
<body>
    <!-- Heading at Level 1 -->
    <h1>About Melanie</h1>
    <!-- Headings at Level 2 -->
    <h2>University of Maryland</h2>
    <h2>Robert H. Smith School of Business</h2>
    <!-- Paragraphs -->
    <p> My name is <em>Melanie Turner</em>. I am from Annapolis, Maryland and am 21 years old.</p>
    <p> I am a <strong>Senior</strong> at the University of Maryland studying Information Systems.</p>
    <!-- Ordered List -->
    <p> My Favorite Professor</p>
    <ul>
        <li> Dr. Bono</li>
    </ul>
    <!-- Unordered List -->
        <p> My Favorite Courses</p>
    <ol>
        <li>BMGT302</li>
        <LI>BMGT402</LI>
        <LI>BMGT407</LI>
    </ol>
    <!-- Table of Courses -->
    <table>
        <tr>
            <th>Course</th>
            <th>Semester Taken</th>
        </tr>
        <tr>
            <td>BMGT302</td>
            <td>Spring 2022</td>
        </tr>
        <tr>
            <td>BMGT402</td>
            <td>Fall 2022</td>
        </tr>
        <tr>
            <td>BMGT407</td>
            <td>Spring 2023</td>
        </tr>
    </table>
 <!-- A link to my Hello World page -->
    <p> A link to my <a href="https://melanieturner.pythonanywhere.com/hello"> Hello World Page</a>.</p>
<!-- Links to my favorite website -->
    <p> A link to  <a href="https://instagram.com"> my favorite website</a>.</p>
    <p> A link to  <a href="https://google.com" target="_blank">my other favorite website.</a>.</p>

<!-- Robert H. Smith logo -->
    <p>This is the Robert H. Smith Logo</p>
  <img src ="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
       width="267" height="72" alt="Smith Logo">
</body>
</html>